USE [master]
GO
/****** Object:  Database [ERPRH]    Script Date: 09/11/2019 15:48:08 ******/
CREATE DATABASE [ERPRH]
GO
USE [ERPRH]
GO
/****** Object:  Table [dbo].[FUNCIONARIO]    Script Date: 09/11/2019 15:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FUNCIONARIO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](300) NULL,
	[SALARIO] [decimal](18, 0) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
